{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 20px/1.5 sans-serif; text-align: left }
</style>

<div class="example-wrapper">
    <a href="{{ path('easyadmin') }}"> Easy Admin </a>
</div>
{% endblock %}
