{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('easyadmin') }}"> Easy Admin </a>
    </div>
{% endblock %}
