{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 20px/1.5 sans-serif; text-align: left }
</style>

<div class="example-wrapper">
    <a href="{{ path('admin') }}"> Easy Admin </a>


{#    {% if is_granted('ROLE_ADMIN') %}#}
{#        <a class="text-white" href="{{ ea_url()#}
{#            .setController('App\\Controller\\Admin\\UserCrudController')#}
{#            .setAction('edit')#}
{#            .setEntityId(question.id)#}
{#        }}">#}
{#            <span class="fa fa-edit"></span>#}
{#        </a>#}
{#    {% endif %}#}


</div>
{% endblock %}
